.input {
  display: flex;
}

.input label {
  color: #b2b2b2;
  margin-bottom: 4px;
}

.input input {
  /* all: unset; */
  appearance: none;
  background-color: #201e1e;
  border: solid 1px;
  border-color: #0d0c0c;
  border-radius: 5px;
  font: 16px;
  color: #fff;
}
