.input {
  display: flex;
  flex-direction: column;
  width: 28rem;
}

.input label {
  color: #b2b2b2;
}

.input input {
  all: unset;
  background-color: #201e1e;
  border: solid 1px;
  border-color: #0d0c0c;
  border-radius: 5px;
  font: 16px;
  color: #fff;
  padding: 6px 10px;
}
