h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 0;
}

.input {
  flex-direction: column;
}

.input input {
  padding: 6px 10px;
  margin-bottom: 2rem;
  height: 2rem;
  width: 28rem;
}

.container-btns {
  display: flex;
  justify-content: space-around;
}

.container-btns button {
  background-color: #282828;
  color: white;
  border: none;
  border-radius: 5px;
  width: 11rem;
  height: 3rem;
  cursor: pointer;
}

.container-btns button:hover {
  background-color: #1d1d1d;
}
